@tailwind base;
@tailwind components;
@tailwind utilities;

li:focus-visible {
  outline: none;
}
li:hover {
  cursor: pointer;
}
@layer base {
  :root {
    /*------Color variables------*/
    --3: #212121;
    --amber_600: #f9b50b;
    --amber_600_01: #ffb700;
    --black_900: #010101;
    --black_900_02: #0d0e0f;
    --black_900_03: #040404;
    --black_900_04: #020202;
    --black_900_05: #020203;
    --black_900_19: #00000019;
    --black_900_23: #00000023;
    --black_900_33: #00000033;
    --black_900_b2: #000000b2;
    --blue_100: #cbdeff;
    --blue_100_01: #cbeeff;
    --blue_100_02: #d3ddf7;
    --blue_800: #2557d6;
    --blue_gray_50_00: #f0f2f100;
    --blue_gray_900: #303030;
    --blue_gray_900_01: #242830;
    --color___1: #f5f6ff;
    --color___11: #666666;
    --color___3: #0156ff;
    --color___5_1: #a1a5b0;
    --color___6_0: #cccccc;
    --color___6_1: #c9ccd7;
    --color___8: #000000;
    --cyan_600: #00b6bd;
    --cyan_600_01: #00aeb8;
    --deep_orange_50: #f2e9dc;
    --gray_200: #eae8eb;
    --gray_400_01: #c4c4c4;
    --gray_50: #f5f7ff;
    --gray_500: #a2a2a2;
    --gray_50_01: #f5f9ff;
    --gray_600: #828282;
    --gray_700_6c: #6666666c;
    --gray_800: #4b4d4f;
    --gray_900: #242528;
    --gray_900_00: #14151700;
    --gray_900_01: #2a2a2a;
    --green_400: #78a962;
    --indigo_400: #6c6bbd;
    --indigo_500: #3362ab;
    --indigo_800: #263b80;
    --indigo_900: #272560;
    --indigo_900_01: #232c65;
    --indigo_900_02: #003087;
    --light_blue_500: #00a3ff;
    --light_blue_600: #009cde;
    --light_blue_600_01: #0099df;
    --red_100: #fcdfce;
    --red_400: #f15b41;
    --red_700: #c94d3f;
    --red_a700: #eb001b;
    --red_a700_01: #db0000;
    --teal_50: #d7e2f3;
    --white_a700: #ffffff;
    --white_a700_00: #ffffff00;
    --white_a700_33: #ffffff33;
    --white_a700_7f: #ffffff7f;
    --white_a700_99: #ffffff99;
    --yellow_800: #f99d1d;
    --yellow_800_01: #e9a426;
    --yellow_900: #f26e21;

    /*------Shadow variables------*/
    --shadow-xs: 0 5px 15px 0 #00000023;
    --shadow-sm: 0 5px 15px 0 #00000019;

    /*------Border radius variables------*/
    --radius-xs: 1px;
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 5px;
    --radius-xl: 6px;
    --radius-2xl: 8px;
    --radius-3xl: 10px;
    --radius-4xl: 12px;
    --radius-5xl: 14px;
    --radius-6xl: 18px;
    --radius-7xl: 20px;
    --radius-8xl: 24px;
    --radius-9xl: 30px;
    --radius-10xl: 32px;
    --radius-11xl: 68px;

    /*------Spacing variables------*/
    --space-xs: 4px;
    --space-sm: 6px;
    --space-md: 8px;
    --space-lg: 10px;
    --space-xl: 11px;
    --space-2xl: 12px;
    --space-3xl: 14px;
    --space-4xl: 16px;
    --space-5xl: 17px;
    --space-6xl: 18px;
    --space-7xl: 20px;
    --space-8xl: 22px;
    --space-9xl: 24px;
    --space-10xl: 26px;
    --space-11xl: 28px;
    --space-12xl: 30px;
    --space-13xl: 34px;
    --space-14xl: 36px;
    --space-15xl: 46px;
    --space-16xl: 130px;
  }
  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
  }

  /* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="search"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: transparent;
    border-color: transparent;
  }
  [type="radio"]:focus,
  [type="checkbox"]:focus {
    --tw-ring-color: transparent;
  }
}
@layer components {
  /*-------------------------------------
  Container CSS
--------------------------------------*/
  .container-xs {
    @apply w-full mx-auto max-w-[1408px];
  }
}
