@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Color---3: #0156ff;
  --Color---7: #000;
}

body {
  margin: 0;
  font-family: -apple-system, Roboto, Helvetica, sans-serif;
}

.stroke-1 {
  stroke-width: 1px;
}

.stroke-2 {
  stroke-width: 2px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  transform: scale(1); /* Scales the content to 80% */
  transform-origin: top center; /* Ensures scaling starts from the top */
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Ensures content aligns with the top */
}
